{% extends "base.html" %}

{% block title %}Каталог{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <h1>Сравнение телефонов</h1>
  </div>

  <table>
    <caption>Модель и стоимость</caption>
    <tr>
      <th>Модель:</th>
      {% for phone in object_list %}
        <th>{{ phone.name }}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Стоимость:</td>
      {% for phone in object_list %}
        <td>{{ phone.price }} p.</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Дисплей</caption>
    <tr>
      <td>Тип цветного экрана:</td>
      {% for phone in object_list %}
        <td>{{ phone.screen_technology }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Сенсорный экран:</td>
      {% for phone in object_list %}
        <td>Есть</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Тип сенсорного экрана:</td>
      {% for phone in object_list %}
        <td>емкостный</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Мультитач:</td>
      {% for phone in object_list %}
        <td>Есть</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диагональ экрана:</td>
      {% for phone in object_list %}
        <td>{{ phone.screen_diagonal }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение экрана:</td>
      {% for phone in object_list %}
        <td>{{ phone.display_resolution }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Плотность точек, ppi:</td>
      {% for phone in object_list %}
        <td>{% if phone.pixel_density %}{{ phone.pixel_density }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Контрастность (X:1):</td>
      {% for phone in object_list %}
        <td>{% if phone.contrast %}{{ phone.contrast }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Яркость, кд/м^2:</td>
      {% for phone in object_list %}
        <td>{% if phone.brightness %}{{ phone.brightness }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Система</caption>
    <tr>
      <td>Платформа:</td>
      {% for phone in object_list %}
        <td>{{ phone.platform }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Операционная система:</td>
      {% for phone in object_list %}
        <td>{{ phone.OS }}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Процессор</caption>
    <td>Процессор:</td>
    {% for phone in object_list %}
      <td>{% if phone.CPU %}{{ phone.CPU }}{% else %}–{% endif %}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Количество ядер:</td>
    {% for phone in object_list %}
      <td>{% if phone.n_cores %}{{ phone.n_cores }}{% else %}–{% endif %}</td>
    {% endfor %}
  </tr>
  <tr>
    <td>Максимальная частота процессора, ГГц:</td>
    {% for phone in object_list %}
      <td>{% if phone.CPU_max_frequency %}{{ phone.CPU_max_frequency }}{% else %}–{% endif %}</td>
    {% endfor %}
  </tr>
  </table>

  <table>
    <caption>Камера</caption>
    <tr>
      <td>Камера:</td>
      {% for phone in object_list %}
        <td>Есть</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Количество модулей:</td>
      {% for phone in object_list %}
        <td>{{ phone.cam_modules }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение основной камеры, Мп:</td>
      {% for phone in object_list %}
        <td>{{ phone.cam_1st_module_resolution }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение второй основной камеры, Мп:</td>
      {% for phone in object_list %}
        <td>{% if phone.cam_2nd_module_resolution %}{{ phone.cam_2nd_module_resolution }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение третьей основной камеры, Мп:</td>
      {% for phone in object_list %}
        <td>{% if phone.cam_3rd_module_resolution %}{{ phone.cam_3rd_module_resolution }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение четвертой основной камеры, Мп:</td>
      {% for phone in object_list %}
        <td>{% if phone.cam_4td_module_resolution %}{{ phone.cam_4td_module_resolution }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диафрагма основной камеры (F/X):</td>
      {% for phone in object_list %}
        <td>{{ phone.cam_1st_module_aperture }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диафрагма второй камеры (F/X):</td>
      {% for phone in object_list %}
        <td>{% if phone.cam_2nd_module_aperture %}{{ phone.cam_2nd_module_aperture }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диафрагма третьей камеры (F/X):</td>
      {% for phone in object_list %}
        <td>{% if phone.cam_3rd_module_aperture %}{{ phone.cam_3rd_module_aperture }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диафрагма четвертой камеры (F/X):</td>
      {% for phone in object_list %}
        <td>{% if phone.cam_4td_module_aperture %}{{ phone.cam_4td_module_aperture }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Фронтальная камера:</td>
      {% for phone in object_list %}
        <td>Есть</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение фронтальной камеры, Мп:</td>
      {% for phone in object_list %}
        <td>{{ phone.front_resolution }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диафрагма фронтальной камеры (F/X):</td>
      {% for phone in object_list %}
        <td>{{ phone.front_aperture }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Запись видеоклипов:</td>
      {% for phone in object_list %}
        <td>Есть</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение видеосъемки основной камеры (макс):</td>
      {% for phone in object_list %}
        <td>{% if phone.video_resolution %}{{ phone.video_resolution }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разрешение видеосъемки фронтальной камеры (макс):</td>
      {% for phone in object_list %}
        <td>{% if phone.front_video_resolution %}{{ phone.front_video_resolution }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Частота кадров при видеосъемке:</td>
      {% for phone in object_list %}
        <td>{% if phone.video_frame_rate %}{{ phone.video_frame_rate }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Цифровой Zoom при фотосъемке:</td>
      {% for phone in object_list %}
        <td>{% if phone.digital_zoom_photo %}{{ phone.digital_zoom_photo }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Цифровой Zoom при видеосъемке:</td>
      {% for phone in object_list %}
        <td>{% if phone.digital_zoom_video %}{{ phone.digital_zoom_video }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Оптический Zoom при фотосъемке:</td>
      {% for phone in object_list %}
        <td>{% if phone.optical_zoom_photo %}{{ phone.optical_zoom_photo }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Оптический Zoom при видеосъемке:</td>
      {% for phone in object_list %}
        <td>{% if phone.optical_zoom_video %}{{ phone.optical_zoom_video }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Встроенная вспышка:</td>
      {% for phone in object_list %}
        <td>Есть</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Тип вспышки:</td>
      {% for phone in object_list %}
        <td>Светодиодная</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Функции камеры:</td>
      {% for phone in object_list %}
        <td>{{ phone.cam_functions }}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Память</caption>
    <tr>
      <td>Объем встроенной памяти, Гб:</td>
      {% for phone in object_list %}
        <td>{{ phone.memory }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Объем доступной памяти, Гб:</td>
      {% for phone in object_list %}
        <td>{% if phone.availiable_memory %}{{ phone.availiable_memory }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Объем оперативной памяти, Гб:</td>
      {% for phone in object_list %}
        <td>{% if phone.RAM %}{{ phone.RAM }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Слот для карты памяти:</td>
      {% for phone in object_list %}
        <td>{% if phone.cartridge %}Есть.{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Тип карты памяти:</td>
      {% for phone in object_list %}
        <td>{% if phone.cartridge_type %}{{ phone.cartridge_type }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Максимальный объем карты памяти, Гб:</td>
      {% for phone in object_list %}
        <td>{% if phone.cartridge_max_capacity %}{{ phone.cartridge_max_capacity }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Звук</caption>
    <tr>
      <td>Стереозвук:</td>
      {% for phone in object_list %}
        <td>{% if phone.stereo_sound %}Есть.{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Мультимедиа</caption>
    <tr>
      <td>Мультимедийные возможности:</td>
      {% for phone in object_list %}
        <td>Аудиоплеер, Видеоплеер</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Поддержка звуковых форматов:</td>
      {% for phone in object_list %}
        <td>{% if phone.audio_formats %}{{ phone.audio_formats }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Поддержка видео форматов:</td>
      {% for phone in object_list %}
        <td>{% if phone.video_formats %}{{ phone.video_formats }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Датчики</caption>
    <tr>
      <td>Основные датчики:</td>
      {% for phone in object_list %}
        <td>{{ phone.sensors }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Дополнительные датчики:</td>
      {% for phone in object_list %}
        <td>{{ phone.sensors_additional }}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Связь</caption>
    <tr>
      <td>Стандарты сотовой связи:</td>
      {% for phone in object_list %}
        <td>{{ phone.cellular_standards }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диапазоны GSM:</td>
      {% for phone in object_list %}
        <td>1800, 1900, 850, 900</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диапазоны 3G (UMTS):</td>
      {% for phone in object_list %}
        <td>{{ phone.UMTS_3G_ranges }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Диапазоны LTE:</td>
      {% for phone in object_list %}
        <td>{{ phone.LTE_ranges }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Интернет:</td>
      {% for phone in object_list %}
        <td>{{ phone.internet }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Количество SIM-карт:</td>
      {% for phone in object_list %}
        <td>{{ phone.n_sim }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Тип SIM-карты:</td>
      {% for phone in object_list %}
        <td>{{ phone.sim_type }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Режим работы SIM-карт:</td>
      {% for phone in object_list %}
        <td>{% if phone.sim_work_mode %}{{ phone.sim_work_mode }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Соединение</caption>
    <tr>
      <td>Беспроводное соединение:</td>
      {% for phone in object_list %}
        <td>{{ phone.wireless }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Wi-Fi:</td>
      {% for phone in object_list %}
        <td>{{ phone.wifi }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Wi-Fi Direct:</td>
      {% for phone in object_list %}
        <td>{% if phone.wifi_direct %}{{ phone.wifi_direct }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Bluetootd:</td>
      {% for phone in object_list %}
        <td>{{ phone.bluetootd }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Профили Bluetootd:</td>
      {% for phone in object_list %}
        <td>{% if phone.bluetootd_profiles %}{{ phone.bluetootd_profiles }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Проводное соединение:</td>
      {% for phone in object_list %}
        <td>{{ phone.wired_connection }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Разъем для наушников:</td>
      {% for phone in object_list %}
        <td>{{ phone.headphone_jack }}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Навигация</caption>
    <tr>
      <td>Навигация:</td>
      {% for phone in object_list %}
        <td>{{ phone.navigation }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Цифровой компас:</td>
      {% for phone in object_list %}
        <td>{% if phone.digital_compass %}Есть.{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>

  <table>
    <caption>Питание</caption>
    <tr>
      <td>Тип аккумулятора:</td>
      {% for phone in object_list %}
        <td>{% if phone.battery_type %}{{ phone.battery_type }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Емкость аккумулятора, mAh:</td>
      {% for phone in object_list %}
        <td>{% if phone.battery_capacity %}{{ phone.battery_capacity }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Время работы в интернете через Wi-Fi до ч:</td>
      {% for phone in object_list %}
        <td>{% if phone.max_time_wifi %}{{ phone.max_time_wifi }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Время в режиме разговора в сети 4G до ч:</td>
      {% for phone in object_list %}
        <td>{% if phone.max_time_4G_talk %}{{ phone.max_time_4G_talk }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Время работы в интернете в сети 4G до ч:</td>
      {% for phone in object_list %}
        <td>{% if phone.max_time_4G %}{{ phone.max_time_4G }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Время работы в режиме прослушивания музыки до ч:</td>
      {% for phone in object_list %}
        <td>{% if phone.max_time_music %}{{ phone.max_time_music }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Время работы в режиме просмотра видео до ч:</td>
      {% for phone in object_list %}
        <td>{% if phone.max_time_video %}{{ phone.max_time_video }}{% else %}–{% endif %}</td>
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}