{% extends "base.html" %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <h1><a href="/books">Каталог</a></h1>
  </div>
  <div class="row">
    {% for book in object_list %}
      <div class="book col-md-4">
        <h2>{{ book.name }}</h2>
        <p>Автор: {{ book.author }}</p>
        <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
      </div>
    {% empty %}
      Нет книг с такой датой публикации.
    {% endfor %}
  </div>
  {% if prev %}
    <a class="button button-primary" href="/books/{{ prev }}">⟵ {{ prev }}</a>
  {% endif %}  {% if next %}
    <a class="button button-primary" href="/books/{{ next }}">{{ next }} ⟶</a>
  {% endif %}
</div>
{% endblock %}