{% extends "base.html" %}

{% block title %}Каталог{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <h1><a href="/catalog">Каталог</a></h1>
  </div>
  <div class="sort-block">
    <p>Сортировать по:\t</p>
    <div class="nav-wrapper col s12">
      <ul class="left hide-on-med-and-down">
        <li class="{% if sort == "name" %}active{% endif %}"><a href="{% url "catalog" sort="name" %}">названию</a></li>
        <li class="{% if sort == "min_price" %}active{% endif %}"><a href="{% url "catalog" sort="min_price" %}">начиная с дешёвых</a></li>
        <li class="{% if sort == "max_price" %}active{% endif %}"><a href="{% url "catalog" sort="max_price" %}">начиная с дорогих</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    {% for item in products %}
    <div class="row">
      <a href="{% url "product" {{ item.slug }} %}"><h1>{{ item.name }}</h1></a>
      <br>
      <b>Стоимость: {{ item.price }} p.</b>
      <br>
      <img src="{{ item.image }}">
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}