{% extends "base.html" %}

{% block title %}Телефон{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <h1>Телефон</h1>
  </div>
  <div class="content">
    <div class="col s12 m8">
      <div class="card">
        <div class="card-image">
          <img src="{{ product.image }}">
        </div>
        <div class="card-content">
          <span class="card-title blue-text">{{ product.name }}</span>
          <b>Стоимость: {{ product.price }} p.</b>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}