{% extends "base.html" %}

{% block title %}Телефон{% endblock %}
{% block content %}
<div class="container">
  <div class="header">
    <h1>{{ product.name }}</h1>
  </div>
  <div class="content">
    <div class="col s12 m8">
      <div class="card" style="align-self: center">
        <div class="card-content">
          <b class="card-text">Стоимость: {{ product.price }} p.</b>
        </div>
        <div class="card-image">
          <img src="{{ product.image }}">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}